name: Deploy Static Web App to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'damien-tm-primary'
          # Use the same secret name currently in your file
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_BDD3B944A26E4ED3818C6FF20F66110D }}
          package: .
